@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  font-family: 'Poppins';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #34495e ;
}

.header {
  display: flex;
  width: 1080px;
  justify-content: space-between;
  align-items: baseline;
}

.board {
  border: 1px solid black;
  width: 1080px;
  height: 680px;
  border-radius: 4px;
}

.footer {
  display: flex;
  width: 1080px;
  justify-content: space-between;
  margin-top: 12px;
}

#message {
  margin: 0;
  font-weight: bold;
}

#draw {
  margin: 0;
  padding: 0;
  font-weight: bold;

}